@use '../../sass/abstracts/variables';

.collapse{
    padding-right: 300px;
    padding-left: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    @media (max-width: 768px){
        padding: 0 20px;
        margin: 20px;
    }
    &__titleContent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: variables.$primary-color;
        border-radius: 5px;
        color: white;
        padding: 10px 15px 10px 20px;
        &__arrowUp{
            cursor: pointer;
            font-size: 20px;
            transition: transform 0.3s ease;
        }
        &__arrowUp--active{
            transform: rotate(-180deg);
        }
    }
    &__textContent{
        background-color: variables.$background-color-secondary;
        padding: 20px;
    }
}