@use '../abstracts/variables';

body {
  font-family: variables.$text-font;
  font-size: variables.$size-text;
  max-width: 1800px;
  padding-top: 10px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
