.header{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 40px 150px; 
    &__logo{
        width: 150px;
        height: auto;
    }
    &__nav{
        &__list{
            display: flex;
        }
        &__item{
            padding-right: 50px;
        }
    }
}